 @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
img { max-width: 100%; height: auto; border: 0.8px dashed rgba(255,255,255,.3);; border-radius: 4px; }
p {margin-bottom: 1.5rem; } 
h1, h2, h3 {                 
      color: #fff;
      margin-top: 2rem;
}

pre { 
   background-color: #515050;
   padding: 10px;
   border: 1px dashed rgba(255,255,255,.3);
   border-radius: 4px;
   overflow-x: auto;
}

code {
   color: #c7254e;
   padding: 2px 4px;
   border-radius: 4px;
}

pre, code {
  font-family: 'Fira Code', monospace;
  font-size: .8em;
}
         
.code-txt {
   color:#000000;
   font-size: medium;
   font-family: 'Fira Code', monospace;
}

.custom-hr, h2{
   border-bottom: 1px dashed rgba(255,255,255,.3); /* Dashed blue line example */
   width: 100%; /* Make it half the container width */
   margin: auto; /* Center the HR horizontally */
}

ul { margin-left: 16px;}

.zoomable-img { cursor: zoom-in; }
/* Overlay background */
#imgOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

/* Zoomed image */
#imgOverlay img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 20px rgba(255,255,255,0.3);
  border: 4px solid white;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: zoom-out;
}

/* suggestions*/
.suggested-topics {
margin: 0 auto;
margin-top: 36px;
overflow: hidden;
}

.suggested-topic-header {
display: flex;
align-items: center;
padding: 16px;
}

.suggested-topic-header svg {
width: 22px;
height: 22px;
margin-right: 10px;
fill: #ccc;
}

.suggested-topic-header-title {
font-size: 1.2rem;
font-weight: bold;
}

.topic {
display: flex;
justify-content: space-between;
align-items: center;
padding: 16px;
border-top: 1px solid #2c2c2c;
cursor: pointer;
transition: background-color 0.2s ease;
text-decoration: none;
}

.topic:hover {
background-color: #1e1e1e;
}

.topic span {
color: #ccc;
font-size: 15px;
}

.plus {
font-size: 20px;
color: #888;
}


/* auto scroll to top */
#scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  background-color: #333;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 1000;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

#scrollToTopBtn:hover {
  opacity: 1;
}

/* SVG Icon Styling */
#scrollToTopBtn svg {
  display: block;
}

/* Tooltip Styling */
#scrollToTopBtn .tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 8px;
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  pointer-events: none;
}

#scrollToTopBtn:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
